@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* RODAPÉ */

footer {
    width: auto;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-texto {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
}

.footer-texto a {
    color: #7ac9e9;
    text-decoration: none;
    cursor: pointer;
}

.footer-texto a:hover {
    color: #0a4d99;
    text-decoration: none;
}
